---
import { getHowToSnippets, type HowTo } from '../content'
import { map } from '../map'
import Tag from './Tag.astro'

export type Props = {
	howTo: HowTo
}

const { howTo } = Astro.props
const { data, slug } = howTo
const { title, description } = data
const collection = getHowToSnippets(howTo)
const href = `/how-to/${slug}`

---
<div class="card">
	<h4 class="text-2xl font-semibold font-serif">
		<a class="link" href={href}>
			{title}
		</a>
	</h4>
	<p>
		<a class="link" href={href}>
			{description}
		</a>
	</p>
	<ul class="list-none flex mt-1">
		{map(collection, ([lang]) => {
			return (
				<li>
					<Tag type="accent">
						{lang}
					</Tag>
				</li>
			)
		})}
	</ul>
</div>

<style>
	.link {
		@apply no-underline decoration-wavy decoration-primary;
	}

	.card:hover .link {
		@apply underline;
	}
</style>
